* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  margin-top: 2%;
  display: flex;
  max-width: 100vw;
  overflow-x: hidden;
  text-align: center;
  justify-content: center;
  background-color: #343c54;
}

a {
  color: inherit;
  text-decoration: none;
}


.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

table {
  border-collapse: collapse;
  margin-bottom: 10%;
}

td,
th {
  border: 1px solid #bcbcc3;
  text-align: left;
  font-size: 30px;
  padding: 5px 140px 5px 140px;
  color: #bcbcc3;
}

tr[data-value="buy"] {
  background-color: #12946c;
  color: #343c54;

}

tr[data-value="sell"] {
  background-color: #d00000;
}

.title {
  font-size: 50px;
  margin-bottom: 5%;
  color: #0ecc8d;
}
